/* CSS Document */
@media screen and (min-width:1024px){
    #UPmain{
        width: 100%;
        height: 960px;
        background: url(../img/fon11.jpg);
    }
    #UPthankyou1{
        padding-top: 250px;
        width: 1000px;
        margin: 0 auto;
        text-align: center;
        font-family: 'a_FuturaRound Bold', arial;
        font-size: 37px;
        text-shadow: 0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
        color: #FD1F93;
    }
    #UPthankyou11{
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        font-family: 'a_FuturaRound Bold', arial;
        font-size: 22px;
        text-shadow: 0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
        color: #FD1F93;
        border-bottom: 1px solid #FD1F93;
    }
}/*(min-width:1024px)*/

@media screen and (min-width:768px) and (max-width:1023px){
    #UPmain{
        width: 100%;
        height: 960px;
        background: url(../img/fon11.jpg);
    }
    #UPthankyou1{
        padding-top: 250px;
        width: 748px;
        margin: 0 auto;
        text-align: center;
        font-family: 'a_FuturaRound Bold', arial;
        font-size: 37px;
        text-shadow: 0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
        color: #FD1F93;
    }
    #UPthankyou11{
        width: 748px;
        height: 80px;
        margin: 0 auto;
        text-align: center;
        font-family: 'a_FuturaRound Bold', arial;
        font-size: 22px;
        text-shadow: 0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
        color: #FD1F93;
        border-bottom: 1px solid #FD1F93;
    }
}/*(min-width:768px) and (max-width:1023px)*/

@media screen and (min-width:500px) and (max-width:767px){
    #UPmain{
        width: 100%;
        height: 960px;
        background: url(../img/fon11.jpg);
    }
    #UPthankyou1{
        padding-top: 150px;
        width: 480px;
        margin: 0 auto;
        text-align: center;
        font-family: 'a_FuturaRound Bold', arial;
        font-size: 37px;
        text-shadow: 0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
        color: #FD1F93;
    }
    #UPthankyou11{
        width: 480px;
        height: 80px;
        margin: 0 auto;
        text-align: center;
        font-family: 'a_FuturaRound Bold', arial;
        font-size: 22px;
        text-shadow: 0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
        color: #FD1F93;
        border-bottom: 1px solid #FD1F93;
    }
}/*(min-width:500px) and (max-width:767px)*/

@media screen and (max-width:499px){
    #UPmain{
        width: 100%;
        height: 960px;
        background: url(../img/fon11.jpg);
    }
    #UPthankyou1{
        padding-top: 150px;
        width: 300px;
        margin: 0 auto;
        text-align: center;
        font-family: 'a_FuturaRound Bold', arial;
        font-size: 37px;
        text-shadow: 0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
        color: #FD1F93;
    }
    #UPthankyou11{
        width: 300px;
        height: 100px;
        margin: 0 auto;
        text-align: center;
        font-family: 'a_FuturaRound Bold', arial;
        font-size: 22px;
        text-shadow: 0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
        color: #FD1F93;
        border-bottom: 1px solid #FD1F93;
    }
}/*(max-width:499px)*/